*{
    direction:ltr;
    margin: 0;
    padding: 0;
}
body{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
a{
    text-decoration: none;
    color:darkgray;
}
svg{
    width: 32px;
    height: 32px;
    color: black;
    background-color:chartreuse;
    border-radius: 5px;
}
span{
    display: flex;
    position: absolute;
    top: 24px;
    left: 54px;
    color: white;
    font-size: 22px;
}
.header{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.center-part{
    display: flex;
    gap: 18px;
}
ol{
    display: flex;
    list-style:none;
    gap: 10px;
}
li>a:hover{
    width: 56px;
    height: 24px;
    background-color: dimgray;
    text-align: center;
    border-radius: 5px;
}
.right-part{
    display: flex;
    width: 80px;
    height: 30px;
    background-color: #05e63d;
    text-align: center;
    align-items: center;
    border-radius: 8px;
}
.main{
    background:url(../image/img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80%;
    text-align: center;
}
h1{
    text-align: center;
    padding-top: 180px;
    text-shadow: 6px 3px black;
    font-size: 40px;
}
h2{
    text-align: center;
    padding-top: 10px;
    text-shadow: 6px 3px black;
    font-size: 36px;
}
.center{
    display: inline-flex;
    padding: 20px;
    gap: 30px;
}
.center>a{
    display: flex;
    align-items: center;
    background-color: grey;
    color: black;
    border-radius: 4px;
    width: 80px;
    height: 40px;
}
.center>a:hover{
    transform: scale(0.8);
}
.spanser{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding-left: 33px;
}
.spanser>img{
    box-sizing: border-box;
    box-shadow: 4px 2px 2px green;
}
img{
    width: 200px;
    height: 100px;
}
.info{
    background:url(../image/img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h3{
    font-size: 38px;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
}
.info>p{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.read{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    line-height: 25px;
    border-right: 2px solid gray;
}
.design>svg{
    font-size: 20px;
    margin: 10px;
}
.design>p{
    margin: 10px;
}
.enginer{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    line-height: 25px;
    border-right: 2px solid gray;
}
.enginer>svg{
    font-size: 20px;
    margin: 10px;
}
.enginer>p{
    margin: 10px;
}
.management{
    width: 500px;
    height: 300px;
    margin-top: 20px;
    line-height: 25px;
    border-right: 2px solid gray;
}
.management>svg{
    font-size: 20px;
    margin: 10px;
}
.management>p{
    margin: 10px;
}
.link{
    text-align: center;
    padding: 10px;
}
.link>a{
    display: inline-block;
    font-size: 22px;
    padding-top: 20px;
    background-color: gray;
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    left: 20px;
}
.link>a:hover{
    transform: scale(0.9);
}